* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(185, 185, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px;
    border-radius: 20px;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

.numero {
    background-color: rgb(240, 239, 239);
    padding: 2rem;
    width: 15rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.botones {
    display: flex;
    gap: .5rem;
}

.aumentar {
    border: none;
    background: linear-gradient(50deg, #85017a, #f579d6);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.disminuir {
    border: none;
    background: linear-gradient(40deg, #ff0000, #ff8181);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.reestablecer {
    border: none;
    background: linear-gradient(45deg, #2681f8, #81e6f8);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.disminuir:hover {
    background: rgb(255, 0, 0);
    transform: scale(1.1);
}

.aumentar:hover {
    background: #85017a;
    transform: scale(1.1);
}

.reestablecer:hover {
    background: #2681f8;
    transform: scale(1.1);
}

.body-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 3rem;
}

.body-color h2 {
    color: #a30096;
}

.body-color span {
    color: #0056c7;
}

.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}

.forma label {
    font-family: sans-serif;
    font-weight: bolder;
}

.forma input {
    border: none;
    border-radius: 5px;
    padding: .5rem;
}

.cambiar-color {
    border-radius: 10px;
    border: none;
    padding: .5rem;
    width: 8rem;
    background-color: #0064e7;
    color: white;
    font-family: sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
}

.cambiar-color:hover {
    background-color: #2681f8;
    transform: scale(1.1);
}

.original {
    border-radius: 10px;
    border: none;
    padding: .5rem;
    width: 10rem;
    color: white;
    font-family: sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(0, 163, 0);
}

.original:hover {
    background-color: rgb(127, 212, 0);
    color: rgb(34, 34, 34);
    transform: scale(1.1);
}

@media (max-width:600px) {
    body {
        background-color: rgb(185, 185, 238);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 2rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px;
        border-radius: 20px;
        gap: 1.8rem;
    }

    .numero {
        background-color: rgb(240, 239, 239);
        padding: 2rem;
        width: 80%;
        border-radius: 10px;
        align-items: center;
        text-align: center;
    }

    .botones {
        display: flex;
        gap: .5rem;
    }

    .aumentar {
        border: none;
        background: linear-gradient(50deg, #85017a, #f579d6);
        color: white;
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .disminuir {
        border: none;
        background: linear-gradient(40deg, #ff0000, #ff8181);
        color: white;
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .reestablecer {
        border: none;
        background: linear-gradient(45deg, #2681f8, #81e6f8);
        color: white;
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .disminuir:hover {
        background: rgb(255, 0, 0);
        transform: scale(1.1);
    }

    .aumentar:hover {
        background: #85017a;
        transform: scale(1.1);
    }

    .reestablecer:hover {
        background: #2681f8;
        transform: scale(1.1);
    }

    .body-color {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #e0e0e0;
        border-radius: 10px;
        padding: 1rem;
        gap: 1.5rem;
    }

    .body-color h2 {
        color: #a30096;
    }

    .body-color span {
        color: #0056c7;
    }

    .forma {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: 1rem;
    }

    .forma label {
        font-family: sans-serif;
        font-weight: bolder;
    }

    .forma input {
        border: none;
        border-radius: 5px;
        padding: .5rem;
    }

    .cambiar-color {
        border-radius: 10px;
        border: none;
        padding: .5rem;
        width: 8rem;
        background-color: #0064e7;
        color: white;
        font-family: sans-serif;
        letter-spacing: .5px;
        font-weight: bold;
        cursor: pointer;
    }

    .cambiar-color:hover {
        background-color: #2681f8;
        transform: scale(1.1);
    }

    .original {
        border-radius: 10px;
        border: none;
        padding: .5rem;
        width: 10rem;
        color: white;
        font-family: sans-serif;
        letter-spacing: .5px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(0, 163, 0);
    }

    .original:hover {
        background-color: rgb(127, 212, 0);
        color: rgb(34, 34, 34);
        transform: scale(1.1);
    }
    .random{
         border-radius: 10px;
        border: none;
        padding: .5rem;
        width: 10rem;
        background-color: #ff8800;
        color: white;
        font-family: sans-serif;
        letter-spacing: .5px;
        font-weight: bold;
        cursor: pointer;
    }
}